{*  $Id: banners_admin_new.htm 9 2008-11-05 21:42:16Z Guite $  *}
{include file="banners_admin_menu.htm"}
<div class="z-admincontainer">
<div class="z-adminpageicon">{img modname=core src=filenew.gif set=icons/large alt='_BANNERS_CREATE' altml=true}</div>
{if $bannersenabled eq 0}
<p>
	<em><strong>{gt text="_BANNERS_IMPORTANTNOTE"}</strong></em>
    <strong>{gt text="_BANNERS_NOTACTIVE"}</strong>
    {gt text="_BANNERS_TOACTIVATE"}
</p>
{/if}
{if $clients}
<h2>{gt text="_BANNERS_NEW"}</h2>
<form class="z-adminform" action="{modurl modname="Banners" type="admin" func="create"}" method="post" enctype="application/x-www-form-urlencoded">
<div>
	<input type="hidden" name="authid" value="{insert name="generateauthkey" module="Banners"}" />
	<div class="z-adminformrow">
		<label for="clientlist">{gt text="_BANNERS_CLIENTNAME"}</label>
		<select id="clientlist" name="banner[cid]">
			{html_options options=$clients}
		</select>
	</div>
	<div class="z-adminformrow">
		<label for="impressions">{gt text="_BANNERS_PURCHASEDIMPRESSIONS"}</label> 
		<input type="text" id="impressions" name="banner[imptotal]" size="12" maxlength="11" /> 0 = {gt text="_BANNERS_UNLIMITED"}
	</div>
	<div class="z-adminformrow">
		<label for="bannertype">{gt text="_BANNERS_TYPE"}</label>
		<input type="text" id="bannertype" name="banner[idtype]" size="2" maxlength="2" />
	</div>
	<div class="z-adminformrow">
		<label for="imgurl">{gt text="_BANNERS_IMAGEURL"}</label>
		<input type="text" id="imgurl" name="banner[imageurl]" size="50" maxlength="250" />
	</div>
	<div class="z-adminformrow">
		<label for="clickurl">{gt text="_BANNERS_CLICKURL"}</label>
		<input type="text" id="clickurl" name="banner[clickurl]" size="50" maxlength="250" />
	</div>
    <div class="z-adminformrow pn-adminformbuttons">
    <a href="{modurl modname=Banners type=admin func=view}">{img modname=core src=button_cancel.gif set=icons/small altml=true titleml=true alt="_CANCEL" title="_CANCEL"}</a>
    {button src=button_ok.gif set=icons/small alt="_BANNERS_CREATE" title="_BANNERS_CREATE"}
    </div>
</div>
</form>
{/if}
<h2>{gt text="_BANNERS_ADDCLIENT"}</h2>
<form class="z-adminform" action="{modurl modname="Banners" type="admin" func="createclient"}" method="post" enctype="application/x-www-form-urlencoded">
<div>
	<input type="hidden" name="authid" value="{insert name="generateauthkey" module="Banners"}" />
	<div class="z-adminformrow">
		<label for="client">{gt text="_BANNERS_CLIENTNAME"}</label> 
		<input type="text" id="client" name="client[cname]" size="30" maxlength="60" />
	</div>
	<div class="z-adminformrow">
		<label for="contact">{gt text="_BANNERS_CONTACTNAME"}</label>
		<input type="text" id="contact" name="client[contact]" size="30" maxlength="60" />
	</div>
	<div class="z-adminformrow">
		<label for="email">{gt text="_BANNERS_CONTACTEMAIL"}</label>
		<input type="text" id="email" name="client[email]" size="30" maxlength="60" />
	</div>
	<div class="z-adminformrow">
		<label for="login">{gt text="_BANNERS_CLIENTLOGINNAME"}</label>
		<input type="text" id="login" name="client[login]" size="12" maxlength="10" />
	</div>
	<div class="z-adminformrow">
		<label for="pass">{gt text="_BANNERS_CLIENTPASSWD"}</label>
		<input type="text" id="pass" name="client[passwd]" size="12" maxlength="10" />
	</div>
	<div class="z-adminformrow">
		<label for="xinfo">{gt text="_BANNERS_EXTRAINFO"}</label>
		<textarea id="xinfo" name="client[extrainfo]" cols="50" rows="10"></textarea>
	</div>
    <div class="z-adminformrow pn-adminformbuttons">
    {button src=button_ok.gif set=icons/small alt="_BANNERS_ADDCLIENT" title="_BANNERS_ADDCLIENT"}
    <a href="{modurl modname=Banners type=admin func=view}">{img modname=core src=button_cancel.gif set=icons/small altml=true titleml=true alt="_CANCEL" title="_CANCEL"}</a>
    </div>
</div>
</form>
</div>