{*  $Id: banners_userapi_emailstats_body.htm 9 2008-11-05 21:42:16Z Guite $  *}
{pnconfiggetvar name=sitename assign=sitename}
{pnml name=_BANNERS_FORMAIL site=$sitename}

{pnml name=_BANNERS_CLIENTNAME}: {$client.name}
{pnml name=_BANNERS_ID}: {$banner.bid}
{pnml name=_BANNERS_IMAGE}: {$banner.imageurl}
{pnml name=_BANNERS_URL}: {$banner.clickurl}

{pnml name=_BANNERS_IMPPURCHASED}: {$banner.imptotal}
{pnml name=_BANNERS_IMPMADE}: {$banner.impmade}
{pnml name=_BANNERS_IMPLEFT}: {$banner.left}
{pnml name=_BANNERS_CLICKS}: {$banner.clicks}
{pnml name=_BANNERS_CLICKSPERCENT}: {$banner.percent}%

{pnml name=_BANNERS_REPORTMADEON date=$date}