{*  $Id: banners_userapi_emailstats_body.htm 9 2008-11-05 21:42:16Z Guite $  *}
{configgetvar name=sitename assign=sitename}
{gt text=_BANNERS_FORMAIL site=$sitename}

{gt text=_BANNERS_CLIENTNAME}: {$client.name}
{gt text=_BANNERS_ID}: {$banner.bid}
{gt text=_BANNERS_IMAGE}: {$banner.imageurl}
{gt text=_BANNERS_URL}: {$banner.clickurl}

{gt text=_BANNERS_IMPPURCHASED}: {$banner.imptotal}
{gt text=_BANNERS_IMPMADE}: {$banner.impmade}
{gt text=_BANNERS_IMPLEFT}: {$banner.left}
{gt text=_BANNERS_CLICKS}: {$banner.clicks}
{gt text=_BANNERS_CLICKSPERCENT}: {$banner.percent}%

{gt text=_BANNERS_REPORTMADEON date=$date}